<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <title>Piekarnia</title>
</head>
<body>
<h1>Witaj w piekarni online!</h1>
<br/>
<p>Dodaj do koszyka wybrane produkty</p>
<div th:each="productMagazine:${productMagazine}">
    <h2 th:text="${productMagazine.name}"></h2>
    <p th:text="'Cena ' + ${productMagazine.price} + ' zł'"></p><br/>
    <img th:src="${productMagazine.imageUrl}"/>
    <br/>
    <br/>
    <form action="/addbasket" method="post">
        <input type="hidden" th:value="${productMagazine.name}" name="name"/>
        Ilość <input type="number" step="1" min="1" value="1" name="quantity"/>
        <input type="submit" value="Dodaj">
    </form>
</div>

</body>
</html>